:root {
  --primary: #4487eb;
  --gray: #656565;
  --section: #f6f8fd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.navbar {
  width: 100%;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.06);
}

.nav-wrapper {
  width: 100%;
  max-width: 72rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2rem 0rem 2rem 0rem;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 24px;
}

.hero {
  width: 100%;
  max-width: 72rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 67px;
}

.hero-content {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
}

.hero-content h1 {
  font-size: 48px;
}

.hero-buttons {
  display: flex;
  gap: 6px;
}

.chat-with-me {
  background: var(--primary);
  color: white;
  border: white 3px solid;
  border-radius: 50px;
  padding: 12px 20px;
  font-weight: 600;
}

.get-started {
  color: var(--primary);
  border: white 3px solid;
  border-radius: 50px;
  padding: 12px 20px;
  background-color: transparent;
  font-weight: 600;
}

.our-services-section {
  width: 100%;
  background-color: var(--section);
}

.our-services-wrapper {
  width: 100%;
  max-width: 72rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 39px 0px 39px 0px;
  gap: 45px;
}

.our-services-title {
  max-width: 488px;
  text-align: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.our-services-title h1 {
  font-size: 48px;
}

.our-services-cards {
  width: 100%;
  max-width: 1038px;
  display: flex;
  gap: 32px;
}

.our-services-card {
  background-color: white;
  border-radius: 16px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.our-services-card h1 {
  font-size: 24px;
}

.our-services-card p {
  font-size: 14px;
  color: var(--gray);
  font-weight: 500;
}

.card-navigate {
  color: var(--primary);
  display: flex;
  gap: 6px;
  font-size: 16px;
  align-items: center;
}

.card-navigate i {
  font-size: 12px;
}
.card-icon {
  font-size: 36px;
  padding: 16px 20px;
  background-color: rgba(68, 135, 235, 0.3);
  width: fit-content;
  border-radius: 12px;
}

.why-me-section {
  width: 100%;
  padding: 85px;
}

.why-me-wrapper {
  width: 100%;
  max-width: 72rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.why-me-content {
  max-width: 452px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
}

.why-me-images {
  display: grid;
  gap: 22px;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-height: 330px;
}

.img-1,
.img-2,
.img-3 {
  width: 253px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-2,
.img-3 {
  max-height: 152px;
}

.img-1 {
  grid-row: span 2;
}

.follow-content-section {
  width: 100%;
  padding: 90px;
  background: url("../../assets/images/hexagon-pattern.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-content-wrapper {
  background-color: white;
  border-radius: 16px;
  display: flex;
  padding: 0px 98px 0px 98px;
  max-width: 62rem;
  align-items: center;
  justify-content: space-between;
}

.follow-content {
  width: 100%;
  max-width: 511px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.follow-content h1 {
  font-size: 48px;
}

.follow-now {
  padding: 12px 38px;
  background-color: var(--primary);
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: none;
  width: fit-content;
}

.follow-illustration {
  display: flex;
  align-items: center;
  justify-content: end;
}
